extends "banking/admin/index.html"
block content
    - load staticfiles
    - load render_bundle from webpack_loader
    .col-md-12#event-block
        h3 Список событий
        .row
            .col-md-10
            .col-md-2
                a.btn.btn-success(href="#", style='margin-top:16px', data-toggle="modal", data-target="#new-event-dlg")
                    span.glyphicon.glyphicon-plus Новое событие
        .row(style='margin-top:20px')
            .col-md-12
                #event-content

    .modal.fade#new-event-dlg(tabindex="-1")
        .modal-dialog#create-event . . .

    link(rel="stylesheet", href="{% static 'css/events.css' %}")
    link(rel="stylesheet", href="{% static 'css/eventbuilder.css' %}")
    - render_bundle 'events'
