{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {{ title }}</title>
        <link rel="stylesheet" href="{% static 'dependence/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
        <script type="text/javascript" src="{% static 'dependence/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/react.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/react-dom.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/browser.min.js' %}"></script>
    </head>
    <body>
        {% autoescape off %}
            {{ body }}
        {% endautoescape %}
	</body>
</html>