- load staticfiles
- load render_bundle from webpack_loader
- render_bundle 'jquery'
script(type="text/javascript")
    | $(document).ready(function(){
    |     var token = window.localStorage.getItem('token');
    |     if (token!=undefined)
    |     {
    |         var user = window.localStorage.getItem('user');
    |         document.location.href = (JSON.parse(user).user.is_superuser ? '/admin/' : '/client/');
    |     }
    |     else
    |         document.location.href = '/auth/';
    | });
