<!doctype html>
<html lang="ru" ng-app="auth">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bank::Authentication</title>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'admin/css/auth.css' %}" />
		<script type="text/javascript" src="{% static 'lib/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/angular-1.4.8/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/angular-1.4.8/angular-cookies.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'admin/js/app.js' %}"></script>
		<script type="text/javascript" src="{% static 'admin/js/directives.js' %}"></script>
		<script type="text/javascript" src="{% static 'admin/js/controller/authentication-controller.js' %}"></script>
	</head>

	<body>
		<div class="container-fluid" ng-controller="authenticationController">
			<div class="col-md-7"></div>
			<div class="col-md-4">
				<div class="panel panel-default" id="signin-panel">
					<div class="panel-body">
					<form class="form-horizontal" name="auth-form" method="get" novalidate>
						<fieldset>
							<legend>
								<h3>Аутенфикация</h3>
							</legend>

							<div class="input-group">
								<span class="input-group-addon" id="username-label">Username</span>
								<input type="text" class="form-control" id="username-input" form="auth-form" aria-describedby="username-label" ng-model="user.username" />
							</div>

							<div class="input-group">
								<span class="input-group-addon" id="password-label">Password</span>
								<input type="password" class="form-control" id="password-input" form="auth-form" aria-describedby="password-label" ng-model="user.password" />
							</div>

							<div class="btn-group col-md-12">
								<button type="button" class="btn btn-success col-md-12" id="sigin-button" form="auth-form" ng-click="auth_user(user)">Войти</button>
							</div>
						</fieldset>
					</form>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</body>
</html>
