<div class="col-md-12" ng-controller="profileController">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-1" style="font-size:20px;margin-top:20px;">
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="col-md-10">
			<h3>
				Профиль: {$ fullname $}
			</h3>
		</div>
	</div>
	<div class="row" style="border-top:1px solid #ccc;margin:25px 0px;"></div>
	<div class="row" id="summary">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">Аватар</div>
			<div class="col-md-10">
				<div class="row" widget="logo"></div>
				<div class="row">
					<input type="file" id="avatar-input" onchange="angular.element(this).scope().getFile(this.files)"/>
					<a href="#" class="btn btn-primary" id="attach-file-button" ng-click="selectFile()">
						<span class="glyphicon glyphicon-search"></span> Обзор. . .
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">Логин</div>
			<div class="col-md-10">{$ username $}</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">Полное имя</div>
			<div class="col-md-10">{$ fullname $}</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-1">Пароль</div>
			<div class="col-md-10">
				<a href="#" data-toggle="modal" data-target="#change-password-dlg">Изменить пароль</a>
			</div>
		</div>
	</div>
	<div class="row" style="border-top:1px solid #ccc;margin:25px 0px;"></div>
</div>

<div class="modal fade" id="change-password-dlg" tabindex="-1">
	<div class="modal-dialog" ng-controller="changePasswordController">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">Изменить пароль</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" name="change-password" novalidate>
					<div class="input-group">
						<span class="input-group-addon" id="old-password-label">Старый пароль</span>
						<input type="password" class="form-control" id="old-password-input" aria-describedby="old-password-label" ng-model="password.old" />
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="new-password-label">Новый пароль</span>
						<input type="password" class="form-control" id="new-password-input" aria-describedby="new-password-label" ng-model="password.new" />
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="repeat-password-label">Подтвердите пароль</span>
						<input type="password" class="form-control" id="repeat-password-input" aria-describedby="repeat-password-label" ng-model="password.repeat" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-9"></div>
				<div class="col-md-3">
					<a href="#" class="btn btn-success" id="next-step-button" data-dismiss="modal" aria-hidden="true" ng-click="change(password)">
						<span class="glyphicon glyphicon-ok"></span> Сохранить
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
