<div class="col-md-12">
	<div class="row">
		<div class="col-md-10">
			<h3>Список сотрудников</h3>
		</div>
		<div class="col-md-2">
			<a class="btn btn-success" href="adduser/" style="margin-top:16px;">
				<span class="glyphicon glyphicon-plus"></span> Новый сотрудник
			</a>
		</div>
	</div>
	<div class="row" style="margin-top:20px;">
		<div class="col-md-12">
			<table class="table" id="user-table">
				<thead>
					<tr>
						<th>#</th>
						<th style="width:100px;"></th>
						<th>Логин</th>
						<th>Фамилия</th>
						<th>Имя</th>
						<th>Статус</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody widget="usertable"></tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="update-user-dlg" tabindex="-1">
	<div class="modal-dialog" ng-controller="updateuserController">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				<h4 class="modal-title">Изменить пароль</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" novalidate name="update-user-form">						<div class="input-group">
							<span class="input-group-addon" id="username-label">Логин</span>
							<input type="text" class="form-control" id="username-input" form="create-employee-form"
							 aria-describedby="username-label" ng-model="user.username" />
						</div>
						<div class="input-group">
							<span class="input-group-addon" id="temp-password-label">Временный пароль</span>
							<input type="password" class="form-control" id="temp-password-input" form="create-employee-form"
							 aria-describedby="temp-password-label" ng-model="user.password" placeholder="******" />
						</div>
						<div class="input-group">
							<span class="input-group-addon" id="user-firstname-label">Имя</span>
							<input type="text" class="form-control" id="user-firstname-input" form="create-employee-form"
							 aria-describedby="user-firstname-label" ng-model="user.secondname" />
						</div>
						<div class="input-group">
							<span class="input-group-addon" id="user-secondname-label">Фамилия</span>
							<input type="text" class="form-control" id="user-secondname-input" form="create-employee-form"
							 aria-describedby="user-secondname-label" ng-model="user.firstname" />
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col-md-8"></div>
				<div class="col-md-4">
					<a href="#" class="btn btn-success" id="next-step-button" data-dismiss="modal" aria-hidden="true" ng-click="save(user)">
						<span class="glyphicon glyphicon-ok"></span> Сохранить
					</a> 
				</div>
			</div>
		</div>
	</div>
</div>