{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bank::Authentication</title>
		<link rel="stylesheet" href="{% static 'dependence/bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    </head>
    <body>
		<div class="container-fluid">
			<div class="col-md-7"></div>
			<div class="col-md-4">
				<div class="panel panel-default" id="signin-panel">
					<div class="panel-body" id="auth-panel">. . .</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
        
		<script type="text/javascript" src="{% static 'dependence/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'dependence/bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/react.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/react-dom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dependence/react-0.14.0/build/browser.min.js' %}"></script>
        <script type="text/babel" src="{% static 'js/auth.js' %}"></script>
	</body>
</html>