form[name="new-event-form"] .input-group{
	margin:10px;
    width:99%;
}

form[name="new-event-form"] label{
	margin-top:10px;
}

form[name="new-event-form"] .input-group span{
	width:30%;
}

form[name="new-event-form"] .row{
	margin-top:10px;
}

.dropdown-menu{
	width:200px;
}

#access-event{
	list-style-type: none;
}

.event-icon{
	font-size:20px;
	margin-top:10px;
}

form[name="new-event-form"] input[type="checkbox"]{
	margin-top:10px;
}

form[name="new-event-form"] input[type="file"]{
	display: none;
}

#event-date-input{
	width:200px;
}

#event-sum-input{
	width:200px;
}

#attach-file-button{
	float:right;
	margin:5px;
}

#save-event-button{
	float: right;
	margin:5px;
}

#cancel-event-button{
	float: right;
	margin:5px;
}

#files-list{
	list-style-type: none;
}

#files-list li{
	float:left;
	margin:5px;
}

.mini-img{
	width:50px;
	height:50px;
}

#userauto{
	position:absolute;
	left:0;
	right:0;
	top:1;
	bottom:1;
	z-index:1;
}

#userautolist{
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	padding:0;
    display: none;
}

#userautolist .row{
	padding:10px;
	margin:0;
}

#userautolist .row:hover{
	background-color: #eee;
	cursor:pointer;
}

#event-type-btn{
	width:200px;
}

#userautolist .row span{
	font-size: 14px;
}

#userautolist .row img{
	width: 25px;
	height: 25px;
}

#participant-table tbody tr{
	height:40px;
}

#participant-table .btn{
	padding: 3px 6px;	
}

#participant-table span{
	font-size:14px;
}

#participant-table img{
	width:34px;
	height:34px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#participant-table input[type="text"]{
	width:70px;
	font-size:12px;
	text-align:center;
}