form[name="main-event-info"] .input-group{
	margin:10px;
    width:99%;
}

form[name="main-event-info"] label{
	margin-top:10px;
}

form[name="main-event-info"] .input-group span{
	width:30%;
}

form[name="main-event-info"] .row{
	margin-top:10px;
}

#next-step-button{
	margin-left:30px;
}

#template-title-btn{
	width:200px;
}

#event-type-title-btn{
    width:200px;
}

.dropdown-menu{
	width:200px;
}

#event-table tbody tr{
	cursor: pointer;
}
.section {
  position: relative;
  width: 100%;
}
.section button {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  height: 3em;
  width: 3em;
  outline: 0;
  border: 0;
  background: none;
  text-indent: -9999%;
  pointer-events: none;
}

.section.open button:before, .section.open button:after {
  height: 14px;
}
.section.open button:before {
  transform: translate(0%, -50%) rotate(-45deg);
}
.section.open button:after {
  transform: translate(0%, -50%) rotate(45deg);
}
.section.open .articlewrap {
  height: 120px;
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}
