form[name="main-template-info"] .input-group{
	margin:10px;
}

form[name="main-template-info"] label{
	margin-top:10px;
}

#icon-template-input{
	display: none;
}

#preview-icon{
	width:20px;
	height:20px;
	margin-right:20px;
}

#template-table tbody{
	height:20px;	
}

#template-table tbody tr{
	cursor: pointer;
}

#template-icon{
	width:35px;
	height:35px;	
	border:1px solid #eee;
}

#next-step-button{
	margin-left:30px;
}