#user-table tbody tr{
	cursor: pointer;
}

#user-table .btn{
	padding: 3px 6px;	
}

form[name="update-user-form"] .input-group{
	margin:20px 40px;
}

#logo{
	width:42px;
	height:42px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#non-logo{
	width:25px;
	height:25px;
}